{% extends 'load_page/base.html' %}

<!DOCTYPE html>

{% block func %}
    <div class="faq_block">
    {% for f in faq %}
        <details>
            <summary>{{ f.question  }}</summary>
            <div class="answer">{{ f.answer }}</div>
            {% if f.link %}
                <a class="answer" href="{{f.link}}">{{f.link}}</a>
            {% endif %}
        </details>
    {% endfor %}
    </div>
{% endblock %}
